@CHARSET "UTF-8";
body { 
	font-size: 9pt;
}
table {border: 2px solid lightgray; width:80%;
margin: 40px auto; margin-bottom:80px; padding:100px;}
table tr { background-color: ; height: 40px;}
table tr:hover { background-color:
}
td, th {text-align: center; padding:20px; border:1px solid red;
margin:50px auto;}
td{
	border:1px solid red;
}
caption {font-size: 30px; padding:10px; margin-bottom:20px;
caption-side:top; color:#000000; text-align:center}
h2, b{text-align: center;}
a { text-decoration: none; color:black;}
.left{text-align: left;}
.paging {text-align: center;}
input:not(.btn), textarea {
	width: 90%;
}
p {text-align: center;}
.lasttr{
	border-bottom:2px solid lightgray;
}