*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:black;
}

/**********HEADER********/
#header_nav{
    background-color: blueviolet;
    height:25px;
    overflow: hidden
}
#header_nav .gnb > ul li a {
    float: left;
    width: 45px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 20px;
    color: white;
}

#header_nav .survivalfootball{
    float:right;
    width:250px;
    height:25px;
    line-height:25px;
    text-align:center;
    color:white;
}


#header_info {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: 100px;
    border: 1px solid red;
}
#header_info > .logo{
    float:left;
    margin:20px 0 0 30px;
    width:160px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid gray;
}
#header_info > .search > .searchbox{
    float:left;
    width:398px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid gray;
    margin:20px 5px;
}

#header_info > .search > #btn_search {
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid gray;
    margin: 20px 10px 20px 0;
}

#header_info > .service ul li a{
    float:left;
    width:80px;
    height:30px;
    border:1px solid gray;
    margin:30px 5px 0 0;
    text-align:center;
    color:purple;
    font-weight:bold;
}



/**********CONTENT********/
#content{
    width:1000px;
    margin:10px auto;
    overflow:hidden;
    border:1px solid red;


}
#content #main_menu{
    float:left;
    width:155px;
}
#content #main_menu ul li {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#content #main{
    float:left;
    width:600px;
}
#content #main > .mainbig{
    height:298px;
    border:1px solid gray;
    margin:0 0 5px 0;
}
#content #main > .mainslide{
    float:left;
    width:598px;
    height:148px;
    border:1px solid gray;
    margin: 0 0 5px 0;
}
#content #main .mainnav ul{
    overflow:hidden;
    width:600px;
    background-color: purple;
    height:50px;
    margin:30px 0 30px 0;
}
#content #main .mainnav ul li a{
    float: left;
    width: 90px;
    margin: 0 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}